@media (max-width: 768px) {
    .intro-container {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    .section {
        margin: 0 2rem;
    }
    .about-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .cards-container {
        gap: 20px;
        margin: 0;
    }
    .cards-projects-container{
        gap: 30px;
    }
    .about-img img{
        width: 250px;
        height: 250px;
    }
    .nav-container{
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .checkbtn{
        display: block;
    }
    .nav-links{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #check:checked ~ .nav-links{
        left: 0;
    }


}
@media (min-width: 1600px){
    .about-container{
        max-width: 1600px;
        margin: 0 auto;
    }
}
@media (min-width: 768px){
    .about-container{
        padding: 50px;
    }

}

